# List Elements

In [1]:
#@title ### Run the following cell to download the necessary files for this practical { display-mode: "form" }
#@markdown Don't worry about what's in this collapsed cell

print('Downloading the marking system')
!wget https://s3-eu-west-1.amazonaws.com/aicore-portal-public-prod-307050600709/practical_files/27a4d374-5ed2-4e14-a54d-7879335e44b8/marking_system.py -q -O marking_system.py
import marking_system
import importlib
importlib.reload(marking_system)
import sys
ipython = get_ipython()
def hide_traceback(exc_tuple=None, filename=None, tb_offset=None, exception_only=False, running_compiled_code=False):
    etype, value, tb = sys.exc_info()
    value.__cause__ = None  # suppress chained exceptions
    return ipython._showtraceback(etype, "❌ " + f"[91m{value}", ipython.InteractiveTB.get_exception_only(etype, "❌ " + f"[91m{value}"))
ipython.showtraceback = hide_traceback

Downloading the marking system

#### 1. Create a list of four elements with a different data type. Name it `list_1`

Each element should have a different data type. What data types have you used so far?

In [11]:
# TODO - Create a list with 4 elements of different types
list_1 = [1 , 'car' , True , 1.45]

In [12]:
#@title #### Run this cell to check your answer { display-mode: "form", run: "auto" }

assert "list_1" in globals(), "The variable 'list_1' does not exist. Please, create it."

marking_system.check_step_1(list_1)

✔ Well done! You successfully created a list with four different data types.

#### 2. Now create a list with ten zeros, do it using the `*` operator. Name it `list_2`

If you multiply a list by an integer, it will repeat the list that many times.

In [16]:
# TODO - Create a list with 10 elements, all of which are 0
list_2 = [0] * 10
print(list_2)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [17]:
#@title #### Run this cell to check your answer { display-mode: "form", run: "auto" }

assert "list_2" in globals(), "The variable 'list_2' does not exist. Please, create it."

marking_system.check_step_2(list_2)

✔ Well done! You successfully created a list with ten zeros.

#### 3. Nest `list_1` and `list_2` into a new list and name it `list_3`.

`list_3` should look like this `[list_1, list2]`

In [23]:
# TODO - Create a list with two elements, list_1 and list_2
list_3 = [list_1 , list_2]
print(list_3)

[[1, 'car', True, 1.45], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [24]:
#@title #### Run this cell to check your answer { display-mode: "form", run: "auto" }

assert "list_1" in globals(), "The variable 'list_1' does not exist. Please, create it."
assert "list_2" in globals(), "The variable 'list_2' does not exist. Please, create it."
assert "list_3" in globals(), "The variable 'list_3' does not exist. Please, create it."

marking_system.check_step_3(list_1, list_2, list_3)

✔ Well done! You successfully created a list with two elements: 'list_1' and 'list_2'. Remember that you can create nested lists

#### 4. Access the fourth element of each `list_1` and `list_2` and store the elements in `list_4`.

`list_4` should look like this `[fourth element of list_1, fourth element of list_2]`

In [27]:
# TODO - Create a list with two elements, the 4th element of list_1 and the 4th element of list_2
list_4 =[list_1[3] , list_2[3]]

In [28]:
#@title #### Run this cell to check your answer { display-mode: "form", run: "auto" }

assert "list_1" in globals(), "The variable 'list_1' does not exist. Please, create it."
assert "list_2" in globals(), "The variable 'list_2' does not exist. Please, create it."
assert "list_4" in globals(), "The variable 'list_4' does not exist. Please, create it."

marking_system.check_step_4(list_1, list_2, list_4)

✔ Well done! You successfully created a list with two elements: the fourth element of 'list_1' and the fourth element of 'list_2'.